@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --1: #00FFE2;
	--2: #FF7F00;
	--3: #0D1532;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}
body *{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}
*,
body {
	scrollbar-width: thin;
	scrollbar-color: black transparent;
	font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 6px;
	height: 6px; /* A altura só é vista quando a rolagem é horizontal */
}
*::-webkit-scrollbar-thumb{
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
	border-radius: 0px;
}
*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	background: transparent;
	padding: 2px;
}
*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background-color: var(--darkYellow);
}
p, span, a, i, input, label, button, ul, li, table, tr, th, td, select, option, textarea{
	font-family: 'Poppins', sans-serif;
	outline: none;
}
textarea{
	resize: none;
}
img{
	width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a{
	text-decoration: none;
	color: black;
}
button{
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*                                                       HEADER                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/


header{
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	padding: 10px 0px;
}
header .logo{
	width: 12%;
	padding: 0% 20px;
}
header .logo img{
	width: 100%;
}
header .menu-inicial{
	flex-grow: 3;
}
header .menu-conta{
	width: auto;
}
header nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
}
header nav ul li{
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 1rem;
}
header nav ul li a{
	transition: all 0.3s;
}
header nav ul li a:hover{
	color: var(--2);
}
header nav ul li a hr{
	border: 0.1px solid transparent;
	margin: 2px 0px;
	transition: all 0.3s;
	width: 0%;
}
header nav ul li a:hover hr{
	width: 100%;
	border: 0.1px solid var(--2);
}
header nav ul li a img{
	width: 17px;
}
header .menu-conta ul li a{
}
header .menu-conta ul li a .i2{
	display: none;
}
header .menu-conta ul li a:hover .i1{
	display: none;
}
header .menu-conta ul li a:hover .i2{
	display: flex;
}
header .menu-conta ul{
	justify-content: flex-end;
	gap: 0;
}
header .menu-conta ul li{
	padding: 0px 20px;
}
header .menu-conta ul li:nth-child(2){
	border-left: 1px solid black;
	border-right: 1px solid black;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*                                                       BANNER                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/


.banner{
	width: 95%;
	margin: 0% auto;
	position: relative;
	overflow: hidden;
}
.banner img{
	border-radius: 20px;
}
.banner .buttons{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: transparent;
	position: absolute;
	bottom: 1%;
	text-align: center;
	gap: 30px;
	height: auto;
	border-radius: 0px 0px 20px 20px;
}
.banner .buttons:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.banner .buttons:hover button{
	color: white;
}
.banner .buttons button{
	border: none;
	font-size: 2.2rem;
	color: black;
	background-color: transparent;
	transition: all 0.3s;
	border-radius: 100%;
	height: auto;
	line-height: 0;
}